svg{
  /*background-color: rgba(0, 255, 255, 0.158);*/
  width: 100vw;
  height: 65vh;
  position: absolute;
  fill-rule:evenodd;
  clip-rule:evenodd;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:1.5;
  position: absolute;
  z-index: 5;
  .animate__animated.animate__bounce {
    --animate-duration: 2s;
  }

  path{
    fill:none;
    stroke:white;
    stroke-width:15px;
  }
 }