/**********
* COLOURS *
***********/

$green:  rgb(27, 27, 27);
$background: #f7f2ea;

/*************
* FONT SIZES *
*************/
$xs-size: 0.625rem;
$s-size: 0.75rem;
$sm-size: 1rem;
$m-size: 1.125rem;
$ms-size: 1.25rem;
$ml-size: 1.625rem;
$l-size: 2rem;
$xl-size: 2.625rem;
$xxl-size: 3.375rem;